.audit-table {    
    margin: 15px;
}

.audit-table td {    
    padding: 15px 2px;
    line-height: 0;
    vertical-align: middle;
}

.audit-table thead tr {    
    background-color: #f0ffe5;
}

.audit-table th {    
    padding: 15px 2px;
}

tbody, td, tfoot, th, thead, tr {
    border: 1px solid;
    border-color: inherit;
}

.audit-table th:nth-child(1),
.audit-table td:nth-child(1) {
    text-align: center;
}